In [3]:
#read csv for initial exploration
import pandas
dataset = pandas.read_csv("/Users/ipsit/Downloads/Weather_data.csv")

In [17]:
dataset.sample(10)

,Unnamed: 0,wsid,wsnm,elvt,lat,lon,inme,city,prov,mdct,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
7723,7723,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2008-09-22 19:00:00,...,32.1,26.7,31.0,25.0,73,75,69,2.5,118,7.0
31781,31781,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2011-06-22 05:00:00,...,0.0,0.0,0.0,0.0,0,0,0,0.0,0,0.0
140892,140892,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2013-12-31 12:00:00,...,29.3,22.2,28.1,21.2,65,69,65,3.5,3,8.1
121518,121518,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2011-10-16 06:00:00,...,24.7,20.6,24.4,20.5,79,79,77,1.1,338,3.5
111525,111525,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2010-08-25 21:00:00,...,24.8,18.1,23.5,17.7,70,70,66,3.2,25,9.4
113255,113255,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2010-11-05 23:00:00,...,24.5,21.1,24.2,20.6,82,83,79,3.8,22,8.7
56707,56707,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2014-04-25 19:00:00,...,31.7,21.2,31.1,19.1,56,56,49,1.0,104,3.9
39077,39077,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2012-04-21 05:00:00,...,24.7,22.0,22.7,20.8,90,90,83,1.2,110,6.9
11694,11694,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2009-03-07 06:00:00,...,0.0,0.0,0.0,0.0,0,0,0,0.0,0,0.0
156705,156705,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2015-10-21 09:00:00,...,24.1,20.1,23.5,19.9,79,80,79,2.6,9,5.8

In [6]:
dataset.info()
#lots of missing data in prcp and gbrd

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165000 entries, 0 to 164999
Data columns (total 32 columns):
Unnamed: 0    165000 non-null int64
wsid          165000 non-null int64
wsnm          165000 non-null object
elvt          165000 non-null int64
lat           165000 non-null float64
lon           165000 non-null float64
inme          165000 non-null object
city          165000 non-null object
prov          165000 non-null object
mdct          165000 non-null object
date          165000 non-null object
yr            165000 non-null int64
mo            165000 non-null int64
da            165000 non-null int64
hr            165000 non-null int64
prcp          20932 non-null float64
stp           165000 non-null float64
smax          165000 non-null float64
smin          165000 non-null float64
gbrd          95944 non-null float64
temp          165000 non-null float64
dewp          165000 non-null float64
tmax          165000 non-null float64
dmax          165000 non-null float64
tmin          165000 non-null float64
dmin          165000 non-null float64
hmdy          165000 non-null int64
hmax          165000 non-null int64
hmin          165000 non-null int64
wdsp          154867 non-null float64
wdct          165000 non-null int64
gust          162494 non-null float64
dtypes: float64(15), int64(11), object(6)
memory usage: 40.3+ MB

In [30]:
dataset.groupby('city').count()
#Choose Sao Goncalo since it has a lesser proportion of data with missing prcp values

,Unnamed: 0,wsid,wsnm,elvt,lat,lon,inme,prov,mdct,date,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
city,,,,,,,,,,,,,,,,,,,,,
São Gonçalo,78048,78048,78048,78048,78048,78048,78048,78048,78048,78048,...,78048,78048,78048,78048,78048,78048,78048,67915,78048,75542
Vitória,86952,86952,86952,86952,86952,86952,86952,86952,86952,86952,...,86952,86952,86952,86952,86952,86952,86952,86952,86952,86952

NameError: name 'city' is not defined