In [2]:
#read csv for initial exploration
import pandas
import numpy as np
dataset = pandas.read_csv("/Users/ipsit/Downloads/Weather_data.csv")

In [3]:
dataset.sample(10)

,Unnamed: 0,wsid,wsnm,elvt,lat,lon,inme,city,prov,mdct,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
44452,44452,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2012-12-01 04:00:00,...,26.2,19.1,25.5,18.9,67,67,64,1.6,38,5.6
130912,130912,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2012-11-10 16:00:00,...,26.6,20.9,25.8,19.6,70,72,68,3.4,49,8.6
49827,49827,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2013-07-13 03:00:00,...,23.2,21.7,23.0,21.4,91,92,90,NaN,4,1.3
9109,9109,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2008-11-19 13:00:00,...,29.8,26.5,28.8,24.5,81,85,76,2.9,90,7.2
152832,152832,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2015-05-13 00:00:00,...,24.1,18.7,23.7,18.0,70,73,70,1.2,223,5.0
121985,121985,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2011-11-04 17:00:00,...,24.9,14.9,23.9,12.4,53,55,47,3.8,129,9.6
91215,91215,303,VITÓRIA,9,-20.271094,-40.306069,A612,Vitória,ES,2008-05-01 15:00:00,...,25.5,19.2,24.1,17.6,67,71,65,3.3,192,9.3
21054,21054,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2010-04-01 06:00:00,...,23.0,21.9,22.5,21.5,95,95,94,NaN,306,NaN
45105,45105,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2012-12-28 09:00:00,...,24.0,18.4,22.8,17.9,69,75,69,1.6,111,4.1
13999,13999,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2009-06-11 07:00:00,...,0.0,0.0,0.0,0.0,0,0,0,0.0,0,0.0

In [4]:
dataset.info()
#lots of missing data in prcp and gbrd

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165000 entries, 0 to 164999
Data columns (total 32 columns):
Unnamed: 0    165000 non-null int64
wsid          165000 non-null int64
wsnm          165000 non-null object
elvt          165000 non-null int64
lat           165000 non-null float64
lon           165000 non-null float64
inme          165000 non-null object
city          165000 non-null object
prov          165000 non-null object
mdct          165000 non-null object
date          165000 non-null object
yr            165000 non-null int64
mo            165000 non-null int64
da            165000 non-null int64
hr            165000 non-null int64
prcp          20932 non-null float64
stp           165000 non-null float64
smax          165000 non-null float64
smin          165000 non-null float64
gbrd          95944 non-null float64
temp          165000 non-null float64
dewp          165000 non-null float64
tmax          165000 non-null float64
dmax          165000 non-null float64
tmin          165000 non-null float64
dmin          165000 non-null float64
hmdy          165000 non-null int64
hmax          165000 non-null int64
hmin          165000 non-null int64
wdsp          154867 non-null float64
wdct          165000 non-null int64
gust          162494 non-null float64
dtypes: float64(15), int64(11), object(6)
memory usage: 40.3+ MB

In [5]:
dataset.groupby('city').count()
#Choose Sao Goncalo since it has a lesser proportion of data with missing prcp values

,Unnamed: 0,wsid,wsnm,elvt,lat,lon,inme,prov,mdct,date,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
city,,,,,,,,,,,,,,,,,,,,,
São Gonçalo,78048,78048,78048,78048,78048,78048,78048,78048,78048,78048,...,78048,78048,78048,78048,78048,78048,78048,67915,78048,75542
Vitória,86952,86952,86952,86952,86952,86952,86952,86952,86952,86952,...,86952,86952,86952,86952,86952,86952,86952,86952,86952,86952

In [6]:
city_df = dataset[dataset.prov != 'ES']
city_df.groupby('city').count()
#Now we only have São Gonçalo data

,Unnamed: 0,wsid,wsnm,elvt,lat,lon,inme,prov,mdct,date,...,tmax,dmax,tmin,dmin,hmdy,hmax,hmin,wdsp,wdct,gust
city,,,,,,,,,,,,,,,,,,,,,
São Gonçalo,78048,78048,78048,78048,78048,78048,78048,78048,78048,78048,...,78048,78048,78048,78048,78048,78048,78048,67915,78048,75542

In [7]:
city_df['gbrd'].count()
#Missing gbrd values are not counted. Hence, count is below 78048

45528

In [27]:
city_df['gbrd'].replace(to_replace=[None], value=0, inplace=True)
city_df

,Unnamed: 0,wsid,wsnm,elvt,lat,lon,inme,city,prov,mdct,...,dmin,hmdy,hmax,hmin,wdsp,wdct,gust,smax_z,stp_z,smin_z
0,0,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 00:00:00,...,10.8,35,58,32,3.2,101,6.5,0.045851,0.295411,0.070299
1,1,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 01:00:00,...,12.2,39,39,35,3.6,94,6.4,0.046540,0.297192,0.071605
2,2,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 02:00:00,...,13.6,44,44,39,2.5,93,6.9,0.046835,0.297955,0.072367
3,3,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 03:00:00,...,14.1,58,58,44,1.7,96,5.8,0.047032,0.298464,0.072585
4,4,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 04:00:00,...,16.4,57,58,56,3.1,110,7.5,0.047130,0.298464,0.072802
5,5,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 05:00:00,...,16.0,62,62,57,2.0,99,6.8,0.047130,0.298464,0.072802
6,6,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 06:00:00,...,16.2,72,72,62,1.3,93,4.9,0.047032,0.298464,0.072802
7,7,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 07:00:00,...,16.6,86,89,72,0.5,157,2.8,0.047917,0.300754,0.072911
8,8,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 08:00:00,...,16.9,93,94,85,NaN,141,1.5,0.048999,0.303553,0.073890
9,9,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 09:00:00,...,17.1,75,94,75,NaN,248,NaN,0.049982,0.306097,0.075088
10,10,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 10:00:00,...,17.0,61,76,61,3.3,97,6.2,0.050474,0.307369,0.076176
11,11,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 11:00:00,...,0.0,0,0,0,0.0,0,0.0,-0.920531,-2.204341,-0.997616
12,12,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 12:00:00,...,0.0,0,0,0,0.0,0,0.0,-0.920531,-2.204341,-0.997616
13,13,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 13:00:00,...,0.0,0,0,0,0.0,0,0.0,-0.920531,-2.204341,-0.997616
14,14,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 14:00:00,...,14.3,36,42,36,3.2,97,9.1,0.050277,0.304316,0.075414
15,15,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 15:00:00,...,13.6,32,37,31,3.8,103,8.6,0.049392,0.301263,0.074108
16,16,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 16:00:00,...,12.9,31,34,29,3.7,78,9.6,0.048113,0.297701,0.072585
17,17,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 17:00:00,...,12.2,29,31,27,2.8,102,9.0,0.046736,0.295411,0.071605
18,18,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 18:00:00,...,12.6,27,29,26,2.5,94,9.0,0.045851,0.293376,0.070734
19,19,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 19:00:00,...,12.6,28,30,26,2.9,93,8.5,0.045064,0.292358,0.070299
20,20,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 20:00:00,...,12.8,30,33,28,2.7,106,5.8,0.044966,0.293121,0.070299
21,21,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 21:00:00,...,12.5,40,42,30,1.5,102,5.2,0.045458,0.294393,0.070626
22,22,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 22:00:00,...,11.3,29,42,29,2.4,123,4.9,0.046048,0.295920,0.071061
23,23,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-06 23:00:00,...,11.4,35,35,29,3.4,112,7.8,0.047228,0.298973,0.071823
24,24,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-07 00:00:00,...,13.4,40,40,35,4.2,109,8.6,0.048015,0.301008,0.073129
25,25,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-07 01:00:00,...,13.1,37,41,36,5.4,109,11.5,0.048605,0.302535,0.073999
26,26,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-07 02:00:00,...,13.1,42,42,37,6.1,120,11.6,0.048802,0.302789,0.074652
27,27,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-07 03:00:00,...,14.0,51,51,42,5.0,114,11.6,0.048704,0.302535,0.074652
28,28,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-07 04:00:00,...,15.5,58,58,51,3.1,100,9.8,0.049097,0.303807,0.074652
29,29,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2007-11-07 05:00:00,...,15.3,59,59,58,1.9,111,7.2,0.049195,0.304062,0.738277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78018,78018,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-29 18:00:00,...,7.8,18,20,17,2.5,95,6.6,0.045458,0.292358,0.070299
78019,78019,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-29 19:00:00,...,7.7,17,19,17,0.8,351,6.9,0.044671,0.291849,0.070082
78020,78020,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-29 20:00:00,...,5.4,16,18,15,2.5,76,6.0,0.044671,0.292358,0.070082
78021,78021,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-29 21:00:00,...,5.2,19,19,15,1.6,89,4.7,0.044966,0.293121,0.070299
78022,78022,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-29 22:00:00,...,5.9,27,29,19,1.6,118,2.4,0.045458,0.294393,0.070626
78023,78023,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-29 23:00:00,...,5.9,22,28,20,1.3,107,5.2,0.046245,0.296429,0.071170
78024,78024,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 00:00:00,...,6.4,32,32,22,NaN,69,2.2,0.046835,0.297955,0.072040
78025,78025,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 01:00:00,...,8.0,27,33,27,2.2,89,4.7,0.047622,0.299991,0.072585
78026,78026,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 02:00:00,...,8.5,33,33,27,NaN,102,4.9,0.048113,0.301008,0.073564
78027,78027,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 03:00:00,...,8.8,42,42,32,2.4,114,5.0,0.048212,0.300754,0.073890
78028,78028,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 04:00:00,...,13.7,49,49,42,2.1,92,4.9,0.047917,0.299991,0.073455
78029,78029,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 05:00:00,...,14.9,54,54,49,2.2,92,4.0,0.047818,0.300500,0.073564
78030,78030,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 06:00:00,...,15.6,59,59,54,1.6,114,3.5,0.048212,0.301517,0.073782
78031,78031,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 07:00:00,...,15.7,63,63,59,1.5,103,2.5,0.048605,0.302535,0.074217
78032,78032,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 08:00:00,...,15.4,64,65,62,1.4,94,3.0,0.048999,0.303553,0.074652
78033,78033,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 09:00:00,...,15.2,59,64,59,3.1,95,5.6,0.049884,0.305843,0.075088
78034,78034,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 10:00:00,...,15.5,55,59,55,3.3,103,6.8,0.050769,0.308132,0.076067
78035,78035,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 11:00:00,...,15.5,49,56,49,3.9,91,6.8,0.051359,0.309659,0.076938
78036,78036,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 12:00:00,...,15.1,46,50,44,4.4,85,8.1,0.051556,0.310168,0.077482
78037,78037,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 13:00:00,...,14.8,39,46,39,4.9,99,8.8,0.051556,0.309405,0.077482
78038,78038,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 14:00:00,...,13.2,33,41,33,4.7,98,10.4,0.051261,0.306606,0.076393
78039,78039,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 15:00:00,...,12.2,30,33,29,4.4,103,9.5,0.050179,0.303553,0.075088
78040,78040,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 16:00:00,...,10.8,25,31,24,4.4,75,10.3,0.048999,0.299736,0.073455
78041,78041,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 17:00:00,...,10.8,23,26,23,4.1,87,8.8,0.047622,0.296429,0.072040
78042,78042,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 18:00:00,...,7.7,20,24,18,4.5,112,10.9,0.046245,0.295411,0.071496
78043,78043,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 19:00:00,...,8.2,21,22,20,4.0,101,9.2,0.045851,0.294902,0.071279
78044,78044,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 20:00:00,...,9.1,22,23,21,2.9,89,7.4,0.045950,0.295411,0.071387
78045,78045,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 21:00:00,...,9.2,25,25,22,1.8,88,6.2,0.046245,0.296429,0.071605
78046,78046,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 22:00:00,...,9.1,35,35,25,1.3,122,3.0,0.046736,0.297701,0.072040
78047,78047,178,SÃO GONÇALO,237,-6.835777,-38.311583,A333,São Gonçalo,RJ,2016-09-30 23:00:00,...,9.3,39,41,33,1.5,130,2.1,0.047327,0.299227,0.072585

In [9]:
city_df[city_df.gbrd >= 0].count()
#Confirmed that gbrd missing values have been replaced with 0

Unnamed: 0    78048
wsid          78048
wsnm          78048
elvt          78048
lat           78048
lon           78048
inme          78048
city          78048
prov          78048
mdct          78048
date          78048
yr            78048
mo            78048
da            78048
hr            78048
prcp          12829
stp           78048
smax          78048
smin          78048
gbrd          78048
temp          78048
dewp          78048
tmax          78048
dmax          78048
tmin          78048
dmin          78048
hmdy          78048
hmax          78048
hmin          78048
wdsp          67915
wdct          78048
gust          75542
dtype: int64

In [10]:
stp_mean = city_df['stp'].mean()
stp_mean

866.3919242004825

In [11]:
stp_std = city_df['stp'].std()
stp_std

393.0390197704358

In [12]:
smin_mean = city_df['smin'].mean()
smin_mean

916.7025727757215

In [13]:
smin_std = city_df['smin'].std()
smin_std

918.893261467472

In [14]:
smax_mean = city_df['smax'].mean()
smax_mean

935.8840508405088

In [15]:
smax_std = city_df['smax'].std()
smax_std

1016.6784257637203

In [22]:
city_df['stp_z'] = (city_df['stp']-stp_mean)/stp_std
city_df.info()
#A column stp_z has been added

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78048 entries, 0 to 78047
Data columns (total 34 columns):
Unnamed: 0    78048 non-null int64
wsid          78048 non-null int64
wsnm          78048 non-null object
elvt          78048 non-null int64
lat           78048 non-null float64
lon           78048 non-null float64
inme          78048 non-null object
city          78048 non-null object
prov          78048 non-null object
mdct          78048 non-null object
date          78048 non-null object
yr            78048 non-null int64
mo            78048 non-null int64
da            78048 non-null int64
hr            78048 non-null int64
prcp          12829 non-null float64
stp           78048 non-null float64
smax          78048 non-null float64
smin          78048 non-null float64
gbrd          78048 non-null float64
temp          78048 non-null float64
dewp          78048 non-null float64
tmax          78048 non-null float64
dmax          78048 non-null float64
tmin          78048 non-null float64
dmin          78048 non-null float64
hmdy          78048 non-null int64
hmax          78048 non-null int64
hmin          78048 non-null int64
wdsp          67915 non-null float64
wdct          78048 non-null int64
gust          75542 non-null float64
smax_z        78048 non-null float64
stp_z         78048 non-null float64
dtypes: float64(17), int64(11), object(6)
memory usage: 20.8+ MB

C:\Users\ipsit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
#Calculate z-values for smax and smin
city_df['smax_z'] = (city_df['smax']-smax_mean)/smax_std
city_df['smin_z'] = (city_df['smin']-smin_mean)/smin_std
city_df.info()

C:\Users\ipsit\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ipsit\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78048 entries, 0 to 78047
Data columns (total 35 columns):
Unnamed: 0    78048 non-null int64
wsid          78048 non-null int64
wsnm          78048 non-null object
elvt          78048 non-null int64
lat           78048 non-null float64
lon           78048 non-null float64
inme          78048 non-null object
city          78048 non-null object
prov          78048 non-null object
mdct          78048 non-null object
date          78048 non-null object
yr            78048 non-null int64
mo            78048 non-null int64
da            78048 non-null int64
hr            78048 non-null int64
prcp          12829 non-null float64
stp           78048 non-null float64
smax          78048 non-null float64
smin          78048 non-null float64
gbrd          78048 non-null float64
temp          78048 non-null float64
dewp          78048 non-null float64
tmax          78048 non-null float64
dmax          78048 non-null float64
tmin          78048 non-null float64
dmin          78048 non-null float64
hmdy          78048 non-null int64
hmax          78048 non-null int64
hmin          78048 non-null int64
wdsp          67915 non-null float64
wdct          78048 non-null int64
gust          75542 non-null float64
smax_z        78048 non-null float64
stp_z         78048 non-null float64
smin_z        78048 non-null float64
dtypes: float64(18), int64(11), object(6)
memory usage: 21.4+ MB

In [54]:
#Remove outliers in stp, smax, smin
new_df = city_df[city_df.smax_z < 3]
new_df[new_df.smax_z > -3]
new_df[new_df.smin_z < 3]
new_df[new_df.smin_z > -3]
new_df[new_df.stp_z < 3]
new_df[new_df.stp_z > -3]
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77314 entries, 0 to 78047
Data columns (total 35 columns):
Unnamed: 0    77314 non-null int64
wsid          77314 non-null int64
wsnm          77314 non-null object
elvt          77314 non-null int64
lat           77314 non-null float64
lon           77314 non-null float64
inme          77314 non-null object
city          77314 non-null object
prov          77314 non-null object
mdct          77314 non-null object
date          77314 non-null object
yr            77314 non-null int64
mo            77314 non-null int64
da            77314 non-null int64
hr            77314 non-null int64
prcp          12829 non-null float64
stp           77314 non-null float64
smax          77314 non-null float64
smin          77314 non-null float64
gbrd          77314 non-null float64
temp          77314 non-null float64
dewp          77314 non-null float64
tmax          77314 non-null float64
dmax          77314 non-null float64
tmin          77314 non-null float64
dmin          77314 non-null float64
hmdy          77314 non-null int64
hmax          77314 non-null int64
hmin          77314 non-null int64
wdsp          67292 non-null float64
wdct          77314 non-null int64
gust          74832 non-null float64
smax_z        77314 non-null float64
stp_z         77314 non-null float64
smin_z        77314 non-null float64
dtypes: float64(18), int64(11), object(6)
memory usage: 21.2+ MB

In [61]:
#Create binary precipitation variable
new_df.loc[new_df['prcp'] > 0, 'prcp_yes'] = 1
new_df.loc[new_df['prcp'] == 0, 'prcp_yes'] = 0
new_df['prcp_yes'].count()
#Number of rows that have values for prcp and prcp_yes is the same

12829

In [63]:
new_df.groupby('prcp_yes').count()
#Data is imbalanced between prcp_yes=0 and prcp_yes=1. 
#But can we oversample or undersample or synthetically create data since this is a time-series dataset?

,Unnamed: 0,wsid,wsnm,elvt,lat,lon,inme,city,prov,mdct,...,dmin,hmdy,hmax,hmin,wdsp,wdct,gust,smax_z,stp_z,smin_z
prcp_yes,,,,,,,,,,,,,,,,,,,,,
0.0,10808,10808,10808,10808,10808,10808,10808,10808,10808,10808,...,10808,10808,10808,10808,10808,10808,10808,10808,10808,10808
1.0,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,...,2021,2021,2021,2021,1618,2021,1971,2021,2021,2021

In [79]:
new_df['stp_minus1'] = new_df.stp.shift(1)
new_df['stp_minus2'] = new_df.stp.shift(2)
new_df['stp_minus3'] = new_df.stp.shift(3)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78048 entries, 0 to 77875
Data columns (total 39 columns):
Unnamed: 0    77314 non-null float64
wsid          77314 non-null float64
wsnm          77314 non-null object
elvt          77314 non-null float64
lat           77314 non-null float64
lon           77314 non-null float64
inme          77314 non-null object
city          77314 non-null object
prov          77314 non-null object
mdct          77314 non-null object
date          77314 non-null object
yr            77314 non-null float64
mo            77314 non-null float64
da            77314 non-null float64
hr            77314 non-null float64
prcp          12829 non-null float64
stp           77314 non-null float64
smax          77314 non-null float64
smin          77314 non-null float64
gbrd          77314 non-null float64
temp          77314 non-null float64
dewp          77314 non-null float64
tmax          77314 non-null float64
dmax          77314 non-null float64
tmin          77314 non-null float64
dmin          77314 non-null float64
hmdy          77314 non-null float64
hmax          77314 non-null float64
hmin          77314 non-null float64
wdsp          67292 non-null float64
wdct          77314 non-null float64
gust          74832 non-null float64
smax_z        77314 non-null float64
stp_z         77314 non-null float64
smin_z        77314 non-null float64
prcp_yes      12829 non-null float64
stp_minus1    77314 non-null float64
stp_minus2    77314 non-null float64
stp_minus3    77314 non-null float64
dtypes: float64(33), object(6)
memory usage: 26.3+ MB